<% content_for :header do %>
<h1><a href="#">Welcome to Legends of Auril</a></h1>
<ul>
	<li><a href="#">Home</a></li>
	<li><a href="/travels">Play!</a></li>
	<li><a href="#">About</a></li>
	<li><a href="#">Contact</a></li>
</ul>
<% end %>

<% content_for :main do %>
<div class="post">
	<h2 class="title"><a href="#">What are we working on</a></h2>
	<div class="entry">
		<p class="byline"><i>Posted by <a href="http://aboutenjay.com/">Vic</a> on Turkey Day, 2010</i></p>
		<p> Thanks for dropping in, we are actively improving this site and game and will be accepting closed beta in a few months</p>
		
		<p>Please keep checking back with us from time to time and we will update this news section with more info!</p>
		<p> Things on the plate: </p>
		<ul>
			<li>Login</li>
			<li>Mapping System and Maps</li>
			<li>Character Generation Screen</li>
			<li>Items</li>
			<li>Enemies</li>
			<li>Main site layout</li>
		</ul>
		
		<p>Things that are not on the radar but will be worked on soon:</p>
		<ul>
			<li>Combat System</li>
			<li>Character and Enemy screens</li>
		</ul>
	</div>
</div>
<% end %>

<% content_for :sidebar do %>
<ul>
	<li>
		<h2>Links</h2>
		<ul>
			<li><a href="#">Link One</a></li>
			<li><a href="#">Link Two</a></li>
		
		</ul>
	</li>
	<li>
		<h2>Developed and Built by</h2>
		<div class="pad">
			<p><a href="mailto:victor.r.howard@gmail.com">Vic Howard</a></p>
			<p><a href="mailto:ghastichor@gmail.com">Joel Taylor</p>
		</div>
	</li>
</ul>
<% end %>